body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 450px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px 30px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 8px;
  font-weight: 600;
  
}

input[type="text"] {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 300px;
  height: 20px;
  outline: none;
}

#output {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  min-height: 100px;
  width: 500px;
  overflow: auto;
  text-align: left;
  margin: 0 auto;
}


.container button{
  font-size: 12px;
  padding: 10px 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.form-container button{
  background-color:transparent;
  border: 1px solid transparent;
  color: #000; 
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

#resetButtonDecode,#resetButtonEncode{
  background-color: #d10404;
  color: #fff;
}
#encodeButton {
  background-color: #258b29;
  color: #fff;
}

#decodeButton {
  background-color:#258b29;
  color: #fff;
}