body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    color: #333;
}

.output{
    display: block;
    width: 100%;
    padding: 0.625rem; /* 10px */
    font-size: 0.875rem; /* 14px */
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    resize: vertical;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    form label {
        color: #ccc;
    }
    form textarea {
       width: 115%;
        background-color: #333;
        color: #ccc;
    }
}

    .form-container {
        width: 50%;
        background: linear-gradient(to right, #6a56db 50%, #2c2552 50%); /* Gradient CSS */
        padding: 70px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-container form {
        width: 100%;
    }
    .form-container h2 {
        margin-bottom: 20px;
    }
    .form-container .form-group {
        margin-bottom: 20px;
        width: 100%;
    }
    .form-container .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .form-container .form-group button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }
    @media(min-width: 768px) {
        .form-container {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }
    .typography {
    margin-left: 9%;
    width: 50%; 
    background-color: #2c2552;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    }
    .button {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    color: #333;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: linear-gradient(to bottom right, #6a56db, #007bff);
    color: #fff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: linear-gradient(to bottom right, #5743c7, #0056b3);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    button {
        background-color: linear-gradient(to bottom right, #4a5568, #1a202c);
        color: #ccc;
    }

    .button:hover {
        background-color: linear-gradient(to bottom right, #383f4b, #15181f);
    }

    .button:focus {
        box-shadow: 0 0 0 2px rgba(186, 204, 220, 0.5);
    }
}
